$out-of-range-color: lighten(#333, 40%);
$out-of-range-bg-color: lighten(#333, 70%);

$calendar-border: #ddd;
$cell-border: #ddd;

$border-color: #ccc;

// Each calendar segment is 1/7th.
$segment-width: 0.14286%;

$time-selection-color: white;
$time-selection-bg-color: rgb(255, 0, 0);
$date-selection-bg-color: rgb(255, 0, 0);

$event-bg: #296379;
$event-border: darken(#296379, 10%);
$event-outline: #296379;
$event-color: #fff;
$event-border-radius: 5px;
$event-padding: 2px 5px;
$event-zindex: 4;

$btn-color: #3c3737;
$btn-bg: #ebebeb7e;
$btn-border: #ccc;

$current-time-color: #ff0000;

$rbc-css-prefix: rbc-i;

$today-highlight-bg: lighten(#296379, 60%);

@import 'react-big-calendar/lib/sass/styles.scss';
@import 'react-big-calendar/lib/sass/variables.scss';



